.loginMain{
  display: flex;
  justify-content: space-between;
  width: 99vw;
  height: 97vh;
  
  /* align-items: center; */
}
@media (max-width: 450px) {
  .imageContainer{
    display: none;
  }
  .loginContainer{
    width:100% !important;
    height: 100%;
  }
}
.imageContainer{
  width: 50%;
  height: 100%;
  
}
.imageContainer img{
  width: 100%;
  height: 100%;
  border-radius: 7px;
 
}
.loginContainer{
  width: 50%;
  height: 100%;
  /* background-color: #f8f2f2; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
   row-gap: 10px;
}
.loginContainer p{
  font-size: x-large;
  color: rgb(163, 160, 160);
  font-weight: 100;
  font-family: monospace;
}
.loginContainer input{
  width: 80%;
  height: 30px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #000;
  /* padding: 0 10px; */
  /* border-radius: 10px; */
  /* box-shadow: 10px 1px; */
}
.loginContainer input:focus{
  outline: none;
}

.loginContainer button{
  
  padding: 6px 20px;
  position:relative;
  left: 36%;
  border:  1px solid gray;
border-radius: 7px;
background-color: #000;
color: #ffff;
}


/*  navbar csss ------ */
.navbarMain{
  display: flex;
  justify-content: space-between;
}
.leftNav{
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.rightNav{
  display: flex;
  column-gap: 5px;
}
.rightNav img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.cardContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row ;
  /* border: 1px solid gray; */
  width: 98vw;
  flex-wrap: wrap;
  border-radius: 10px;
  /* padding: 2px 10px; */
}
.card-image{
  width: 250px;
  margin-bottom: 10px;
  border: 1px solid rgb(249, 244, 244);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 10px;
}
.card-image img{
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.card-details h3{
   
  padding: 1px 10px;
  /* background-color: rgb(190, 237, 190);
  border: 1px solid green; */
  
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.card-details{
  margin-left: 20px;
}
.cartBtn{
  padding: 5px 10px;
  background-color: rgb(239, 102, 102);
  border: 1px solid gray;
  border-radius: 9px;
  margin-top: -20px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#search{
  /* width: 200px; */
  height: 25px;
  margin-bottom: 20px;
  border-radius: 7px;
  border: 1px solid gray;
  padding: 0 5px;
}
#search:focus{
  outline: none;
}
#searchDiv{
 /* margin: 0 40%; */
 margin-top: -20px;
 margin-bottom: 20px;
 width: 95vw;
 border-radius: 10px;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
 
}
#SearchBtn{
  /* width: 30px; */
  height: 25px;
  margin-top: 17px;
  border-radius: 7px;
  border: 1px solid gray;
  /* margin-left: -20px; */
  background-color: #fff;
  color: #000;
   margin-left: 5px;
}
#SearchBtn:hover{
  color: #fff;
  background-color: #000;
}
#searchDiv{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* column-gap: -30px; */
}
.selectDiv {
  margin-top: 20px;
  border: 1px solid gray;
  margin-bottom: 30px;
  padding: 5px 10px;
  border-radius: 7px;
  
}

.selectDiv button{
  padding: 0 4px;
  background-color: #fff;
  border: 1px solid #ffffff;
  font-size: 14px;
  cursor: pointer;
  /* border */
}
.selectDiv select{
  border:none;
  cursor: pointer;
  
}
select:focus{
  outline: none;
}
.cartPop{
 background-color: #000;
 color: #ffff;
 border-radius: 50%;
 width: 20px;
 height: 20px;
 position: relative;
 right: 20px;
 text-align: center;
}
.totalRupee{
  border: 1px solid rgb(197, 192, 192);
  width: 35px;
  height: 20px;
  border-radius: 10px;
  padding: 0 10px;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

}
.popUpContainer{
  display: none;
}